{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/stylehavuz.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.css' %}"/>
    <script type="text/javascript" src="{% static 'DataTables/datatables.js' %}"></script>
{% endblock %}
{% block title %}Havuz{% endblock %}
{% block menu %}
    <li><a href="/register/">Kayıt Ol</a></li>
    <li><a href="/accounts/login/">Giriş Yap</a></li>
{% endblock %}
{% block sayfa %}
<div class="container ustten align-items-center">
{% if user.is_authenticated %}
<div>
    <h3 align="center">Dosya Havuzu</h3>
    <br>
    <div class="table-responsive">
        <table id="myTable" class="table table-striped table-bordered" bgcolor="white">
             <thead class="bg-primary">
                 <tr>
                     <td>#ID</td>
                     <td>Dosya Adı</td>
                     <td>Ders Adı</td>
                     <td>Bölüm Adı</td>
                     <td>Okul Adı</td>
                     <td>Açıklama</td>
                     <td>Yükleyen</td>
                     <td>İşlemler</td>
                 </tr>
             </thead>
                  {% for dosya in dosyalar %}
                <tr>
                     <td>{{ dosya.dId }}</td>
                     <td>{{ dosya.dosyaAdı }}</td>
                     <td>{{ dosya.dersAdi }}</td>
                     <td>{{ dosya.bolumAdi }}</td>
                     <td>{{ dosya.okulAdi }}</td>
                     <td>{{ dosya.aciklama }}</td>
                     <td>{{ dosya.kAd }}</td>
                     <td align="center">
                         <a href="#" download="{{ dosya.file_name }}"><i class="fas fa-file-download fa-2x"></i></a>
                     </td>
                 </tr>
            {% endfor %}
        </table>
    </div>
    </div>
</div>
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable({
        "language": {
            "sSearch": "Ara:",
            "sInfoEmpty": "Kayıt yok",
            "oPaginate": {
                "sFirst":    "İlk",
                "sLast":     "Son",
                "sNext":     "Sonraki",
                "sPrevious": "Önceki"
            },
            "sZeroRecords": "Eşleşen kayıt bulunamadı",
            "sInfo": "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar gösteriliyor",
            "sInfoFiltered":  "(_MAX_ kayıt içerisinden bulunan)",
            "sLengthMenu":     "Sayfada _MENU_ kayıt göster",
        }
    });
        });
    </script>
    {% else %}
    <div class="container ustten2 align-items-center">
    <div class="d-flex justify-content-center">
      <div class="ort">
          <p class="yazi">Bu Sayfa Üyelere Özeldir!
              Lütfen <a href="/accounts/login">Giriş Yapın</a>
          </p>
      </div>
    </div>
    </div>


{% endif %}
{% endblock %}
